/* 
    Document   : style
    Created on : Jul 29, 2013, 11:25:15 PM
    Author     : falcon_zy
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color:#7094AE;
    background: #f5f1ec url(../resource/web_img/bg.jpeg)no-repeat fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map
{
    position: relative;
    height: 550px;
    width: 960px;
    margin-left: 150px;
	margin-top: 20px;
    border:5px solid white;
    background-image: url(../resource/web_img/singapore_map.jpg);
    background-repeat:no-repeat;
    background-size: 120%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header
{
    margin-left: 25px;
}
.detailsContent{
    position: absolute;
    width: 950px;
    height: 350px;
    top:75px;
    left:75px;
    z-index: 999;
}
.bg_popup
{
    position: absolute;
    top:0;
    height:100%;
    width: 100%;
    background-color: #666666;
    z-index: 10;
    opacity: 0.9;
    filter:alpha(opacity=90);
}
a.dot{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background-image: url(../resource/web_img/Map_Marker_icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
a.dot:hover{
    background-image: url(../resource/web_img/Map_Marker_Pink_icon.png);
}

a.dot.selected{
    background-image: url(../resource/web_img/Map_Marker_Pink_icon.png);
}

a.tracking-route{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/tracking-route-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
a.tracking-route:hover{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

a.tracking-route.selected{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

a.travel-baloon{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/Travel-Baloon-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
a.travel-baloon:hover{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
a.travel-baloon.selected{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

a.travel-map{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/travel-map-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
a.travel-map:hover{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
a.travel-map.selected{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

a.flickr-icon-egg{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/flickr-icon-egg.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
a.flickr-icon-egg:hover{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
a.flickr-icon-egg.selected{
    border-style: solid;
    border-width: 2px;
    border-color: red;
}


a.twitter-icon{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/twitter-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

a.facebook-icon{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/facebook-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

a.flickr-icon{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/flickr-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

a.About-icon{
    width: 64px;
    height: 64px;
    display: block;
    position: fixed;
    background-image: url(../resource/web_img/About-icon.png);
    background-repeat:no-repeat;
    background-position:0,0;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}

h3 {
  color: #F2E2DC;
  font-family: 'Kite One', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 30px;
  font-weight: 900;
  display:inline;
}

#imgs img{
    margin: 3px;
}
.detailsTitile {
    color: #FFF;
    margin-bottom: 25px;
    text-align: center;
    
}
.fancybox-thumbs>img{
 margin-bottom: 5px;
}


